<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.cctv.mybatis.mapper.DailyLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xg.cctv.mybatis.po.DailyLog">
                <id column="id" property="id" />
                <result column="no" property="no" />
                <result column="date" property="date" />
                <result column="time" property="time"/>
                <result column="table_code" property="tableCode" />
                <result column="subject" property="subject" />
                <result column="details" property="details" />
                <result column="alerter_name" property="alerterName" />
                <result column="department_id" property="departmentId" />
                <result column="monitor" property="monitor" />
                <result column="conclusion" property="conclusion" />
                <result column="create_uid" property="createUid" />
                <result column="create_time" property="createTime" />
                <result column="urls" property="urls" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, date, time, table_code, subject, details, alerter_name, department_id, monitor, conclusion, create_uid, create_time, urls
    </sql>

    <sql id="VoTable">
        SELECT * FROM daily_log d LEFT JOIN sys_department dp ON d.department_id = dp.department_id
    </sql>

    <!--如果自定义的方法还希望能够使用MP提供的Wrapper条件构造器，则需要如下写法-->
    <select id="selectVoPage" resultType="com.xg.cctv.common.dto.DailyLogVo">
        <include refid="VoTable"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectVoList" resultType="com.xg.cctv.common.dto.DailyLogVo">
        <include refid="VoTable"/>
    </select>
</mapper>
