<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.cctv.mybatis.mapper.IncidentLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xg.cctv.mybatis.po.IncidentLog">
                <id column="id" property="id" />
                <result column="date" property="date" />
                <result column="table_code" property="tableCode" />
                <result column="code" property="code" />
                <result column="coin_code" property="coinCode" />
                <result column="total" property="total" />
                <result column="report" property="report" />
                <result column="involve_uid" property="involveUid" />
                <result column="department_id" property="departmentId" />
                <result column="monitor" property="monitor" />
                <result column="remarks" property="remarks" />
                <result column="create_uid" property="createUid" />
                <result column="create_time" property="createTime" />
                <result column="urls" property="urls" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, date, table_code, code, coin_code, total, report, involve_uid, department_id, monitor, remarks, create_uid, create_time, urls
    </sql>

    <sql id="VoTable">
        SELECT * FROM incident_log i LEFT JOIN sys_department dp ON i.department_id = dp.department_id
    </sql>

    <!--如果自定义的方法还希望能够使用MP提供的Wrapper条件构造器，则需要如下写法-->
    <select id="selectVoPage" resultType="com.xg.cctv.common.dto.IncidentLogVo">
        <include refid="VoTable"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectVoList" resultType="com.xg.cctv.common.dto.IncidentLogVo">
        <include refid="VoTable"/>
    </select>
</mapper>
