<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xg.cctv.mybatis.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xg.cctv.mybatis.po.SysUser">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="department_id" property="departmentId" />
        <result column="description" property="description" />
        <result column="no" property="no"/>
        <result column="nick_name" property="nickName"/>
        <result column="work_no" property="workNo"/>
        <result column="nationality" property="nationality"/>
        <result column="avatar" property="avatar"/>
        <result column="position" property="position"/>
        <result column="hire_date" property="hireDate"/>
    </resultMap>

    <resultMap id="allInfo" type="com.xg.cctv.mybatis.po.SysUser" extends="BaseResultMap">
        <association property="department" column="department_id" select="com.xg.cctv.mybatis.mapper.SysDepartmentMapper.queryDepartmentById"/>
        <collection property="roles" column="user_id" select="com.xg.cctv.mybatis.mapper.SysRoleMapper.queryRolesByUserId"/>
        <collection property="routes" column="user_id" select="com.xg.cctv.mybatis.mapper.SysPermissionMapper.queryPermissionByUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, status, create_user_id, create_time, department_id, description, no ,nick_name,work_no,nationality,avatar,position,hire_date
    </sql>

    <select id="queryByUserName" resultMap="allInfo">
        select * from sys_user where username = #{username}
    </select>

    <sql id="VoTable">
        SELECT u.*,d.department_code,d.name,d.department_id FROM sys_user u LEFT JOIN sys_department d on u.department_id = d.department_id
    </sql>

    <!--如果自定义的方法还希望能够使用MP提供的Wrapper条件构造器，则需要如下写法-->
    <select id="selectVoPage" resultType="com.xg.cctv.common.dto.SysUserVo">
        <include refid="VoTable"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectVoList" resultType="com.xg.cctv.common.dto.SysUserVo">
        <include refid="VoTable"/>
    </select>

</mapper>
